h4,h5{
	display: inline-block;
}
h1,h3{
	text-align: center;
}
.template{
	display: none;
}

#author{
	padding :2%;
	min-height: 30%;
	max-height: 30%;
}

/*img{
	height: 20vh !important;
	width: auto !important;
}*/